$textColor: rgb(11,10,10);
$secondaryTextColor: rgb(235,99,91);
$borderColor: rgb(142,136,138);
$buttonPadding: 5px 15px;
$buttonRadius: 6px;

.home-section {
    text-align: center;
    color: $textColor;

    h1 {
        font-size: 32px;
    }

    h2 {
        padding-bottom: 50px;
    }

    img {
        max-width: 600px;
        margin-top: -40px;
    }

    .home-links {
        display: flex;
        justify-content: center;
    }

    a {
        color: $textColor;
        text-decoration: none;
        padding: $buttonPadding;
        border: 1px solid $borderColor;
        border-radius: $buttonRadius;
        margin-left: 10px;

        &:hover {
            font-weight: bold;
            color: $secondaryTextColor;
        }
    }

    .column {
        float: left;
        width: 33%;
    }

    .row {
        margin-top: 50px;
    }
      
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}