$font: 'Poppins', sans-serif;
$textColor: rgb(11,10,10);
$secondaryTextColor: rgb(235,99,91);
$borderColor: rgb(142,136,138);
$buttonPadding: 5px 15px;
$buttonRadius: 6px;
$margin: 0 10px;

.navbar {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin: $margin;

    ul {
        list-style: none;
        display: flex;
    }

    a {
        color: $textColor;
        border: 1px solid $borderColor;
        border-radius: $buttonRadius;
        text-decoration: none;
        padding: $buttonPadding;

        &:hover {
            font-weight: bold;
            color: $secondaryTextColor;
        }
    }

    .navbar-logo {
        max-width: 150px;
        margin-left: -20px;
    }

    .logout-button {
        width: 15px;
    }
}
